body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  color: #F50808;
  background: url(musicbackground.png) no-repeat;
  background-size: cover;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
h1 {
	color:#16CCD6;
	font-weight: 800;
	text-decoration: underline;
}
/*use these marks to add comments to look at later*/
h4 {
	color:green;
}
/*after giving "summary" an ID*/
#summary {
	color:orange;
}
/*after giving skills and activities a class*/
.unicorns {
	color:blue;
}
h2, h3 {
	border-color: rgba(72, 121, 77, 0.55);
	border-style: ridge;
	border-width: 5px;
}
#picture {
	border-color: #09E6F5;
	border-style: groove;
	border-width: 8px;
}
h5 {
	color: orange;
	font-weight: 700;
	font-size: 18px;
}
p {
	color:#23D84A;
}